DATABASE_URL=postgresql://postgres:postgres@localhost:5432/hackathon
PORT=3000

ARCJET_KEY=your_arcjet_key_here
ARCJET_ENV=development
ARCJET_MODE=DRY_RUN

BETTER_AUTH_SECRET=bb652faf33eff94db97b4cad077f7af583c33b9c09a2b79e141a9fbfbbfb2bf9
BETTER_AUTH_URL=http://localhost:3000