DATABASE_URL=postgresql://postgres:postgres@localhost:5432/hackathon
PORT=3000

ARCJET_KEY=your_arcjet_key_here
ARCJET_ENV=development
ARCJET_MODE=DRY_RUN

BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=http://localhost:3000